/************************************************/
/*                                              */
/* Codigo Creado por: Alfredo Marcano           */
/* Version:2.0                                  */
/* Actualizacion de la pagina de Believe Cuba   */
/*                                              */
/************************************************/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

@font-face{
    font-family: Sansita-Regular, sans-serif;
    src:url(../font/Sansita-Regular.ttf);
}

/*** Generales ***/

li a, a, ul li a{
    text-decoration: none;
}

textarea{
    resize: none;
}

.header-img.owl-carousel .owl-nav, .categories.owl-carousel .owl-nav, .header-img.owl-carousel .owl-dots, 
.clints.owl-carousel .owl-dots, .categories.owl-carousel .owl-dots, .offers.owl-carousel .owl-dots{ 
    display: none; 
}

.offers.owl-carousel .owl-nav{
    top: -2.5rem;
    position: absolute;
    right: 0;
}

body{
	
}

/*** Pagina **/
nav{
    position: fixed;
	background: #25262711;
    /*background: #182431;*/
	color: white;
	height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

   nav ul, figure{ margin-bottom: 0;}

    nav .bi{
        color: white;
        padding-right: 10px;
        font-size: 1.3rem
    }

header{
    height: 100%;
}

    .header-img figure{
        height: 100%;
    }

.Abouts{
    text-align: justify; 
    z-index: 1; 
    padding:3rem 0 4rem; 
    background: #0574bb; 
    clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 50% 100%, 0% 80%); 
    height: 50vh;
}

.categori{
    width: 100%;
}
 
    .category-items{
        text-align: center;
        padding: 1.5rem;
        position: relative;
    }
        .category-items:nth-child(2n+1):after{
            content: '';
            position: absolute;
            top: 7%;
            right: 7%;
            background: #f7941f44;
            border-radius: 12px;
            width: 110px;
            height: 110px;
            z-index: -1;
        }
        .category-items:before{
            content: '';
            position: absolute;
            bottom: 6%;
            left: 8%;
            background: #0574bb33;
            border-radius: 12px;
            width: 100px;
            height: 100px;
            z-index: -1;   
        }
        
        .category-items figure img{
            border-radius: 12px;
            box-shadow: 0px 0px 3px 0px #f4f4f4
        }

    .category-items:hover{
        filter: drop-shadow(1px 1px 1px orange);
        transform: scale(1.1,1.1);
        transition: 0.5s;
        cursor: pointer;
    }

    .bi{
        color: #f7a644
    }

.bestOffers{
    background: linear-gradient(to bottom, white, #e1e1e1);
}

.Destiny{
    background: #0574bb;
}

    .Destiny-title{
        color: white;
        font-family: Sansita-Regular, sans-serif;
        padding-top: 10%;
    }
        .Destiny-title span{
            font-size: 5rem;
            text-align: center;
        }

        .Destiny-title p{
            padding-top: 8%;
            font-size: 1.4rem;
            line-height: 1.7
        }
        .Destiny-title button{
            background: #f7a644;padding: 0.5rem 4rem; color: white; border-radius: 25px; font-size: 1.2rem; text-transform: uppercase; display: block; width: 50%; margin: 3rem auto
        }

    .Destiny-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }

        .Destiny-items div:nth-child(1){ 
            grid-column: 1 / 2;
            grid-row:1 / 3; 
            height: 300px;            
        }
        .Destiny-items div:nth-child(2){ 
            grid-column: 2 / 3;
            grid-row:2 / 4; 
        }
        .Destiny-items div:nth-child(3){ 
            grid-row:3 / 5; 
        }
        .Destiny-items div:nth-child(4){ 
            grid-column: 2 / 3;
            grid-row:1 / 2; 
        }
        .Destiny-items div:nth-child(5){ 
            grid-column: 2 / 3;
            grid-row:4 / 5; 
        }

.galery{
    background: #0574bb;
    padding: 4rem 0 3rem
}
    .colap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        padding: 10px;
        list-style: none;
        margin-bottom: 0;
    }
        .colap li {
            min-height: 150px;
            background-color: white;
            box-shadow: 6px 8px 18px -2px #25262766; 
        }
        .colap li:nth-child(1) {
          grid-row: 1 / 3;
          grid-column: 1 / 2;
        }
        .colap li:nth-child(4) {
          grid-row: 2 / 2;
          grid-column: 2 / 4;
        }
        .colap li:nth-child(9) {
          grid-column: 4 / 5;
          grid-row: 2 / 4;
        }

    .galery-title{
        color: white;
        font-family: Sansita-Regular, sans-serif;
        padding-top: 5%;
    }
        .galery-title span{
            font-size: 5rem;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        .galery-title p{
            padding-top: 4%;
            font-size: 1.5rem;
            line-height: 1.5;
        }
        .galery-title button{
            background: #f7a644;padding: 0.5rem 4rem; color: white; border-radius: 25px; font-size: 1.2rem; text-transform: uppercase; display: block; width: 70%; margin: 3rem auto
        }

.comentarios{
    background: url(img/abouts-fondo.jpg);
    background-size: 100% 100%;
}

    .clints-title span{
        font-size: 4rem;
        font-family: Sansita-Regular, sans-serif;
        
    }

    .clints{ padding: 3rem 0 4rem; }

        .comentarios-svg-bottom{
            width: 100%;
        }

    .clints.owl-carousel .owl-nav{
        top: -2.5rem;
        position: absolute;
        right: 0;
    }

footer{
    padding: 4rem 0 1rem;
	background: linear-gradient(180deg, #0574bb, #26b6ec);
    color: #212529;
}
    footer .bi{
        color: white;
    }

    .footer-redes{ padding-left: 0;}

        .footer-redes li{ font-size: 2rem; padding-right: 1.5rem }

    .footer-servicios{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px;
    }

    .form-control {
        background: #25262755;
        /*background: transparent;*/
        border: none;
    }

        ::placeholder{ color: white !important; }

    .copyright{
        color: #212529;
        font-size: 12px
    }

@media screen and (max-width: 720px){
    .header-img figure{
        height: 100%;
    }
    .categories.owl-carousel .owl-nav{
        display: block;
    }
    footer{
        padding: 2rem 0 1rem;
    }
}

