/************************************************/
/*                                              */
/* Codigo Creado por: Alfredo Marcano           */
/* Version:2.0                                  */
/* Actualizacion de la pagina de Believe Cuba   */
/*                                              */
/************************************************/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

@font-face{
    font-family: Sansita-Regular, sans-serif;
    src:url(../font/Sansita-Regular.ttf);
}

/*** Generales ***/

li a, a, ul li a{
    text-decoration: none;
}

textarea{
    resize: none;
}

.header-img.owl-carousel .owl-nav, .categories.owl-carousel .owl-nav, .header-img.owl-carousel .owl-dots, 
.clints.owl-carousel .owl-dots, .categories.owl-carousel .owl-dots, .offers.owl-carousel .owl-dots{ 
    display: none !important; 
}

.offers.owl-carousel .owl-nav{
    top: -2.5rem;
    position: absolute;
    right: 0;
}

.obj-fit-cover{
    object-fit: cover;
}


/*** Pagina **/
nav{
    position: fixed;
	background: #25262711;
	color: white;
	height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

   nav ul, figure{ margin-bottom: 0;}

    nav .bi{
        color: white;
        padding-right: 10px;
        font-size: 1.3rem
    }

header{
    height: 120vh;
}
    .header-img{
        z-index: -1;
    }

    .header-img figure{
        height: 115vh;
    }

.Abouts{
    text-align: justify; 
    z-index: 1; 
    padding:3rem 0 4rem; 
    background: #0574bb; 
    clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 49.92% 99%, 0% 80%); 
    height: 50vh;
}
    .Abouts p{
        font-size: 1.4rem; width: 70%; margin:0 auto;
    }

.categori{
    width: 100%;
    background: #ececec;
}

    .categori-svg-top{
        clip-path: polygon(0% 100.00%, 100% 100%, 100% 0%, 50% 58%, 0px 0%);
        height: 100px;
        background: #ececec;
        margin-top: -5%
    }

    .categories{
        padding: 1rem 0;
    }

        .category-items{
            text-align: center;
            padding: 1rem;
            position: relative;
        }
            .category-items:after{
                content: '';
                position: absolute;
                background: #f7941f77;
                border-radius: 8px;
                width: 100px;
                height: 100px;
                z-index: -1;
                top: 0%;
                right: 0%;
                transform: translate(0%, 0%);
                animation: 11s items-uno alternate infinite;
            }

                @keyframes items-uno{
                    0% { transform: translate(-10%, 10%); }
                    50% { transform: translate(-50%, 50%); }
                    100% { transform: translate(-106%, 106%); }
                }

            .category-items:before{
                content: '';
                position: absolute;
                background: #0574bb77;
                border-radius: 8px;
                width: 100px;
                height: 100px;
                z-index: -1;   
                top: 0%;
                left: 0%;
                transform: translate(0%, 0%);
                animation: 9s items-dos alternate infinite;
            }

                @keyframes items-dos{
                    0% { transform: translate(10%, 10%); }
                    50% { transform: translate(50%, 50%); }
                    100% { transform: translate(106%, 106%); }
                }

            .category-items figure img{
                border-radius: 12px;
                box-shadow: 0px 0px 3px 0px #f4f4f4
            }

        .category-items:hover{
            filter: drop-shadow(1px 1px 1px orange);
            transform: scale(1.1,1.1);
            transition: 0.5s;
            cursor: pointer;
        }
    
    .categori-svg-bottom{
        clip-path: polygon(50% 45%, 100% 100%, 0 100%);
        height: 100px;
        background: #ffffff
    }

.bestOffers{
    background: #fff;
    padding: 2rem 0 0;
}

    .bestOffers-title span{
        font-size: 4rem;
        font-family: Sansita-Regular, sans-serif; 
    }

    .offers-items{
        margin:10px 15px; border-radius:8px;
    }

        .offers-items figure{
            width:100%; height:350px;
        }
    
    .offers-data{
        background:#0574bb; 
        color:white; 
        border-radius: 0 0 8px 8px; 
        min-height: 30vh; 
        box-shadow:6px 6px 10px -4px #252627d4;    
    }
        .offers-data-title{
            background:#77d2f5; text-align:end; padding: 5px 10px;
        }

        .offers-data-details{
            padding: 1.25rem;
        }
            .offers-data-details ul{
                display: flex;
                padding-left:0;
                margin-bottom: 0.25rem;
            }

                .offers-data-details ul li{
                    padding-right: 0.3rem;
                    color:#fbba12;
                }

            .offers-data-details p{
                font-size: 14px;
                margin-bottom: 0.3rem;
            }

            .offers-data-action{
                display: flex;
                justify-content: space-between;
            }

                .offers-data-action span{ 
                    display:block; font-size:1.5rem 
                }
                
                .offers-data-action button{ 
                    background:#b76709;
                    color:white;
                    padding:5px 12px;
                    border:none;
                    border-radius:6px;
                }

.Destiny{
    background: #0574bb;
}

    .Destiny-title{
        color: white;
        font-family: Sansita-Regular, sans-serif;
        padding-top: 10%;
    }
        .Destiny-title span{
            font-size: 5rem;
            text-align: center;
        }

        .Destiny-title p{
            padding-top: 8%;
            font-size: 1.4rem;
            line-height: 1.7
        }
        .Destiny-title button{
            background: #f7a644;
            padding: 0.5rem 4rem; 
            color: white; 
            border-radius: 25px; 
            font-size: 1.2rem; 
            text-transform: uppercase; 
            display: block; 
            width: 50%; 
            margin: 3rem auto;
        }

    .Destiny-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }
        .Destiny-items figure{ 
            box-shadow: 0px 0px 1px 2px white; 
            height: 100%;
        }

        .Destiny-items figure:nth-child(1){ 
            grid-column: 1 / 2;
            grid-row:1 / 3; 
            min-height: 300px;            
        }
        .Destiny-items figure:nth-child(2){ 
            grid-column: 2 / 3;
            grid-row:2 / 4; 
        }
        .Destiny-items figure:nth-child(3){ 
            grid-row:3 / 5; 
        }
        .Destiny-items figure:nth-child(4){ 
            grid-column: 2 / 3;
            grid-row:1 / 2; 
        }
        .Destiny-items figure:nth-child(5){ 
            grid-column: 2 / 3;
            grid-row:4 / 5; 
        }

.galery{
    background: #0574bb;
    padding: 4rem 0 3rem
}
    .colap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        padding: 10px;
        list-style: none;
        margin-bottom: 0;
    }
        .colap li {
            min-height: 150px;
            background-color: white;
            box-shadow: 6px 8px 18px -2px #25262766; 
        }
        .colap li:nth-child(1) {
          grid-row: 1 / 3;
          grid-column: 1 / 2;
        }
        .colap li:nth-child(4) {
          grid-row: 2 / 2;
          grid-column: 2 / 4;
        }
        .colap li:nth-child(9) {
          grid-column: 4 / 5;
          grid-row: 2 / 4;
        }

    .galery-title{
        color: white;
        font-family: Sansita-Regular, sans-serif;
        padding-top: 5%;
    }
        .galery-title span{
            font-size: 5rem;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        .galery-title p{
            padding-top: 4%;
            font-size: 1.5rem;
            line-height: 1.5;
        }
        .galery-title button{
            background: #f7a644;
            padding: 0.5rem 4rem; 
            border-radius: 25px; 
            font-size: 1.2rem; 
            text-transform: uppercase; 
            display: block; 
            width: 70%; 
            margin: 3rem auto;
        }
        .galery-title button a{
            color: white; 
        }

.comentarios{
    background: url(../img/abouts-fondo.jpg);
    background-size: 100% 100%;
}

    .clints-title span{
        font-size: 4rem;
        font-family: Sansita-Regular, sans-serif; 
    }

    .clints{ padding: 1rem 0 3rem; }

        .clints-items{
            display: flex; 
            align-items: center; 
            justify-content: center;
            padding: 0 1rem 3rem;
        }        
            .clints-items figure{
                width: 300px; 
                height:250px; 
                box-shadow:-6px -5px 6px -7px #252627; 
                background:white; 
                margin:15px;
                border-radius:10px;
                padding:1px;
            }        

            .clints-items img{
                width: 100%; height: 100%;object-fit:cover; border-radius:8px;
            }        

            .clints-data{
                width: 40vw;
                background:white; 
                padding:0.5rem 1rem; 
                margin-left:-15%; 
                margin-bottom:-10%; 
                border-radius:12px;
                z-index: -1;
                padding-left: 15%;
                box-shadow: 3px 3px 13px -6px #252627
            }

                .clints-data span{
                    font-size: 1.5rem
                }

                .clints-data ul{
                    display: flex;
                    padding: 0;
                    margin: 0;
                }
                    .clints-data ul li{
                        padding-right: 0.3rem;
                        color: #fbba12
                    }

                .clints-data p{
                    font-size: 13px;
                    margin-bottom: 0.3rem;
                }
                .clints-data .bi{
                    font-size: 1.3rem
                }

        .comentarios-svg-bottom{
            width: 100%;
        }

    .clints.owl-carousel .owl-nav{
        top: -2.5rem;
        position: absolute;
        right: 0;
    }

footer{
    padding: 4rem 0 1rem;
	background: linear-gradient(180deg, #0574bb, #26b6ec);
    color: #212529;
}
    footer .bi{
        color: white;
    }

    .footer-redes{ padding-left: 0;}

        .footer-redes li{ font-size: 2rem; padding-right: 1.5rem }

    .footer-servicios{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px;
    }

    .form-control {
        background: #25262755;
        border: none;
    }

        ::placeholder{ color: white !important; }

    .copyright{
        color: #212529;
        font-size: 12px
    }

@media screen and (max-width: 720px){
    .header-img figure{
        height: 100%;
    }
    .categories.owl-carousel .owl-nav{
        display: block;
    }
    footer{
        padding: 2rem 0 1rem;
    }
}

